<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Forum: <%- room_number %></title>
	<link rel="stylesheet" href="..//css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
	// anon function in this ($) context
	$(function(){
		var host = '<%- config.host %>';
		var messages = io.connect("http://localhost:9000/messages/os");
		var roomNum = '<%- room_number %>';
		var userName = '<%-user.fullname%>';
		var userPic = '<%-user.profilePic%>';

		messages.on('connect', function(){
			console.log('Connection to ' + userName + ' Established !!');
			messages.emit('joinroom', {
				room:roomNum,
				user:userName,
				userPic:userPic
			});
		});


		messages.on('messagefeed', function(data){
		    console.log(data);
			var msgs = JSON.parse(data);
			updateMessageFeed(msgs.message);
		})

		function updateMessageFeed(data) {
            console.log(data);
            var name = '<%= room_name%>';
            var size = name.length;
            var code = name[size-3]+name[size-2];
            console.log(code);
            axios.get('https://iiita-lectures.herokuapp.com/translate/' + code + '?data=' + data).then((response) => {
                console.log(response);
                if (response.data !== '') {
                    $('#Recieved').text(response);
                }
            })
        }

	})
	</script>
</head>
<body>
	<h2 class="title">Steno</h2>
 <div id="main">
		<div id="navigation">
			<img src="<%- user.profilePic %>" class="userPic">
			<h3 class="userName"><%- user.fullname %></h3>
			<a href="/user"><button class="nav">Home</button></a>
			<a href="/user/todo"><button class="nav">Your to-do list</button></a>
			<a href="/user/gethelp"><button class="nav">Get Help</button></a>
			<a href="/logout"><button class="nav">Logout</button></a>
		</div>
		<div style="top:1%; position: absolute; left: 10px;"><a href=""><i class="fa fa-github" style="font-size: 3em;"></i></a></div>
		<div style="position: absolute; top: 2%; right: 10px;"><a href="">Give your Suggestions</a></div>
	<div id="platform">
		<div id="second">
			<h3 class="issue">Issue: <%- room_name%></h3>

			<div class="rm-messages">
					<ul class="messages">
					</ul>
			</div>
<div id="Recieved">
</div>
		</div>
		<div id="third">
			<div class="active-users">
				<div class="rm-users">
					<ul class="users">
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
